body{
    background-image: url(fotos/Amplificador-Marshall.png);
}
.contenedor{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2{
    background-color: lightgoldenrodyellow;
    padding: 1em;
    text-align: center;
    margin-top: 3%;
    border-radius: 5px;
    border: 1px solid black;
}
.reproductor{
    border: 2px solid black;
    padding: 20px;
    margin-top: 1%;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}
p{
    margin: 5px;
}
audio{
    display: block;
    justify-content: center;
}
button{
    margin-top: 10px;
}
.lista{
    background-color: white;
    padding: 20px;
    margin-top: 1%;
    border-radius: 5px;
    border: 2px solid black;
}
.lista ul{
    text-align: center;
    padding-left: 0px;
}
button{
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
    border: 2px solid gold;
    color: white;
    background-color: black;
}
