<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            margin: 20px;
            padding: 10px;
            background-color: burlywood;
        }
        .fondo{
            background: 
            url() left no-repeat fixed,
            url() center no-repeat,
            url() right no-repeat;
        }
    </style>
</head>
<body>
    <h1>Fondos múltiples</h1>
    <div class="fondo">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae excepturi aut reprehenderit, 
            asperiores impedit natus id expedita. Sequi incidunt cupiditate libero vitae, illo distinctio 
            tempore tenetur blanditiis odio obcaecati maxime vel quos et beatae architecto asperiores sed? 
            Obcaecati maxime totam id possimus nobis, quo temporibus harum repellendus! Aliquid obcaecati numquam 
            magnam ipsa molestias distinctio odio esse quo sequi, velit a nulla earum consequuntur, consequatur quasi 
            t, eos vel nostrum. Vitae rem libero culpa magni, quidem delectus asperiores commodi dolor, similique 
            dolorem molestiae vero officiis in ipsa, iusto quas! Praesentium soluta voluptates quam facilis sit 
            reiciendis quod facere esse, expedita nobis, aperiam consectetur voluptate. Repellat saepe fugiat ex 
            aperiam assumenda? Doloribus culpa nobis similique laboriosam, fugit dolores blanditiis quidem nam 
            temporibus? Suscipit eaque natus incidunt eius nemo laborum pariatur cumque, odit, accusantium iste 
            debitis mollitia animi recusandae autem nihil molestiae saepe. Minima dolorem quo fugit quis facere 
            corrupti nemo sequi suscipit, possimus officiis blanditiis fuga doloribus nobis cumque accusamus beatae, 
            pariatur cupiditate incidunt? Amet illum consequatur officiis quam quis labore quo! Obcaecati, 
            cupiditate. Voluptatibus, nam itaque. Delectus eligendi distinctio ea nam asperiores? Ut, nam! Illum, 
            sed sunt libero explicabo, veritatis est et nisi fugiat rem aut placeat perferendis, in ullam! Harum 
            sequi quam et enim sunt consequuntur error sapiente unde eos quia, recusandae atque deserunt quo expedita
            commodi explicabo, natus vel veniam. Ipsum enim, nam aliquid magnam reiciendis, beatae consequatur 
            voluptas corporis nesciunt, incidunt fugiat est nobis optio libero doloremque eos fuga eveniet minus eius
            maxime veritatis. Perferendis libero in accusantium veritatis deserunt accusamus sint consequuntur 
            aperiam cupiditate recusandae explicabo fugit veniam excepturi et quibusdam quae, magnam nisi aut ea, 
            autem ratione dicta. Ea, minima dicta temporibus ipsam eos voluptatum quis aspernatur hic fugiat 
            recusandae tempora? Ad perferendis, odit quod qui maiores aperiam modi soluta animi. Debitis voluptates 
            exercitationem, culpa velit explicabo unde expedita ea totam aliquam sunt nisi voluptatibus quia ab 
            praesentium necessitatibus eum, et ex numquam in. Id fugiat odio adipisci, accusantium beatae quam 
            consectetur ratione voluptatem tenetur assumenda reiciendis suscipit repellendus eligendi quidem fugit! 
            Similique quibusdam exercitationem rem dolor, recusandae aut nisi, aliquam minima, perspiciatis officia 
            perferendis velit. Aliquam tempore sapiente ullam modi dolorem. Error assumenda, quo ipsum minus nam unde 
            et repellat soluta ut maxime! Sunt officiis autem labore eius cumque voluptatum, nemo nobis, nulla 
            tenetur expedita quasi harum cum consequatur, eos enim. Ut eligendi corrupti, temporibus perferendis 
            facilis ea repellendus labore neque. Nisi, laudantium saepe. Error, dignissimos. Quod ad iure ducimus 
            tempore rem sint! Odio aliquam culpa necessitatibus autem vel velit maiores architecto repellendus 
            repellat doloribus quos exercitationem officia, sed itaque tenetur iste. Possimus ut totam minus, 
            dolorum fuga iusto! Natus veniam totam, inventore vitae itaque fuga repellendus culpa unde vero, ea 
            aliquid, illum soluta cum sed id eius aliquam! Esse perspiciatis doloribus ea inventore autem dolorum 
            error sed dolores quia quo ratione doloremque, id sunt repellat debitis praesentium excepturi laudantium 
            quam numquam dolor perferendis facere dolore? Obcaecati maxime itaque, dignissimos deserunt earum beatae 
            autem dolores tenetur saepe aliquam similique ad sapiente voluptatem delectus explicabo illo.
        </p>
    </div>
</body>
</html>