<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h4{
            text-shadow: 5px 5px 1px red, 4px 4px 0 orange;
        }
        p{
            text-shadow: 2px 2px 1px green;
        }
        a:hover{
            
        }
    </style>
</head>
<body>
    <h4>Ejemplos con sombras</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit, 
        perspiciatis nam vel delectus nesciunt earum modi voluptatum, 
        adipisci recusandae dolor odio minus, soluta distinctio pariatur asperiores maxime sit voluptas!
    </p>
    <div class="sombra1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aperiam assumenda voluptatum explicabo maxime architecto ducimus molestiae, quia exercitationem velit fuga rerum illo ipsam. Sapiente assumenda culpa quisquam ab? Fugit.
        Aliquid quod error voluptate harum sed quibusdam reprehenderit in at officiis hic sint laborum voluptates, eaque esse voluptas maxime quasi eum. Sed omnis quia ipsa ab doloribus laudantium natus tenetur.
        Porro provident dolor facere, veniam natus quasi architecto possimus fuga dolores cumque eius velit cum nobis exercitationem neque quae voluptate id blanditiis eos assumenda consequatur iusto. Inventore, quam! Dicta, obcaecati.
        Id porro nisi dolore, reiciendis vel, similique provident, ut est doloremque odio ad sed ipsam repellat in repellendus cupiditate aut molestiae quia aliquid aliquam doloribus facilis omnis! Pariatur, voluptas perferendis!
        Animi perferendis dolores repellat libero, harum quas quo, quam quibusdam, quasi ipsum rem. Ad ipsa voluptatum omnis, cumque inventore eaque quidem! Minima, illo recusandae? Officia error repellendus non libero dolor?
        Error omnis culpa, odit hic quisquam quo aperiam ipsum in ex voluptas soluta expedita nemo ut reprehenderit, ab magni ad esse voluptates tempore voluptate quam veritatis rem voluptatem. Quasi, rerum!
        Quo similique pariatur dolorum dolor nobis debitis nihil obcaecati vitae dicta, tempore voluptate aliquam fuga deserunt quibusdam sunt recusandae ea aspernatur perferendis esse facilis velit minima sit inventore! Aperiam, maxime!
        Culpa tempora maxime cum minima amet, accusamus debitis consectetur voluptatem ipsam, labore quae dicta nobis velit, repellat alias officiis nisi. Exercitationem eum doloribus blanditiis sunt unde voluptatem explicabo deleniti placeat.
        Delectus molestiae voluptates alias impedit quo libero excepturi ratione facere itaque praesentium, nisi dicta incidunt. Et ducimus quod accusamus nemo sed aliquid reiciendis nesciunt? Illum placeat ducimus dolorem velit corporis.
        Fugit perferendis maiores iste explicabo adipisci, laborum consequuntur earum provident quod quisquam amet ullam optio esse aliquam vero molestias delectus nam! Architecto doloribus, tempora sint iusto enim vero reiciendis quis.
    </div>
    <div class="sombra2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, amet nam asperiores laboriosam sunt tenetur! Totam explicabo et praesentium expedita, ducimus optio cum soluta velit tempore ut repellat illum amet!
        Temporibus velit soluta porro pariatur commodi doloribus minima excepturi iure alias eum labore ratione magni vero cumque eveniet reprehenderit qui, quod expedita harum voluptatem, repudiandae a quaerat deleniti? Similique, explicabo.
        Distinctio magnam mollitia laudantium autem voluptatibus excepturi quod nisi quasi at itaque perspiciatis, consequatur veniam quae modi libero ullam illo ratione sunt magni dolorum! Dolores aliquam neque exercitationem nulla provident!
        Ea cumque consequuntur at id numquam, itaque similique fuga! Culpa, perspiciatis? Dolor laboriosam corrupti nam laudantium cumque voluptatem possimus totam deserunt soluta illum suscipit sunt, mollitia deleniti placeat ullam beatae.
        Voluptatibus, placeat pariatur ut dolore similique eos molestias, qui alias debitis, inventore quae earum doloremque cum a doloribus nihil unde. Ipsa temporibus nihil tenetur accusantium. Quisquam est dolorem eaque inventore?
        Ullam officiis itaque cupiditate dolorem magni earum possimus laborum esse, sint distinctio, rerum modi adipisci, corporis consequuntur eos delectus nihil aspernatur nam asperiores. Corporis laborum, quo nulla sequi rem soluta!
        Dolorum voluptatibus, ea quibusdam non ipsum dolore autem accusantium suscipit praesentium ullam. Delectus hic quam quia ratione itaque id repellendus dignissimos at. Velit nesciunt excepturi dolor quae quidem nulla facilis.
        Nisi amet, necessitatibus quos fuga, autem esse non enim, consequatur expedita debitis nemo nulla in doloremque blanditiis. Magnam accusamus omnis dicta excepturi odio dolorum harum neque maxime aliquam, quod vel!
        Ipsum corrupti, fuga odit a ipsam est! Veniam accusantium sequi, expedita quis culpa ab aliquid distinctio! Officia nemo quasi harum, blanditiis quos expedita, molestias omnis, qui corporis vel nisi sequi?
        Pariatur eveniet delectus, eum libero quis expedita at autem ipsam ex esse eligendi vero? Praesentium nostrum distinctio modi, reprehenderit animi, porro nobis amet dolore numquam culpa perspiciatis minima voluptatem eius.
    </div>

    <div class="sombra3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, et quaerat! Qui nam quidem dolorem itaque neque quos sint, saepe suscipit, rem deserunt voluptate consectetur vel iste mollitia ab nobis.
        Quam accusamus voluptatum eos consequuntur vero saepe nemo ducimus deleniti expedita amet possimus, debitis assumenda fuga voluptatibus impedit eum neque deserunt totam perspiciatis? Labore, in! Illum doloribus sapiente fugiat corporis.
        Obcaecati distinctio sint itaque laborum id, dignissimos, est ad facilis non molestias fugiat delectus porro nihil! Eum dolore voluptatibus explicabo vitae fugiat? Necessitatibus voluptatibus libero iusto cupiditate ipsa. Illum, quo.
        Veritatis sint asperiores debitis itaque magnam nihil aperiam explicabo fugit perspiciatis dolor vitae, repudiandae magni culpa odio, voluptatum rem, eaque molestias doloribus est commodi aliquam esse. Numquam iure commodi odio?
        Consequatur accusantium velit obcaecati magni facilis, culpa repudiandae aut. Perferendis vel eius necessitatibus recusandae soluta maiores expedita qui officia repudiandae magnam nemo sequi suscipit quaerat debitis numquam temporibus, iure neque!
    </div>
</body>
</html>