<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pagina1Estilos.css">
    <title>Página Web</title>
</head>
<body>
    <div class="cabecera">
        <form action="">
            <h1>Inicio de sesión</h1>
            <label for="usuario">Introduce el usuario: </label>
            <input type="text" id="usuario" placeholder="Introduce tu usuario">
            <label for="contra">Introduce la contraseña: </label>
            <input type="password" id="contra" placeholder="Introduce la contraseña">
            <img src="/home/techkka/Imágenes/stark">
            <br>
            <a href="www.google.com">Acceder</a>
        </form>
    </div>
    <div class="centro">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusantium dolores ex, eos ratione accusamus maiores, illum nam dolore veritatis fugit recusandae reiciendis animi repellat totam adipisci sint id iusto?
        Voluptates, tempora eius laboriosam, assumenda necessitatibus deleniti inventore ut quasi ducimus veniam harum sequi amet, ratione quis laudantium voluptatum tenetur? Officia commodi beatae recusandae laborum porro eos ea ratione eaque?
        Beatae harum quia voluptas blanditiis? Accusamus magnam aliquid dolore, fuga atque qui laborum officiis excepturi nam deserunt. Iusto, magnam laboriosam ipsum eius neque explicabo consequuntur mollitia vero, aliquam odit blanditiis.
        Aspernatur harum quis nihil reprehenderit, labore iste quisquam consequatur voluptates esse id impedit. Voluptates, perspiciatis. Quos architecto tempore, id quaerat optio nisi. Ipsum nulla, harum praesentium ut optio voluptatum officiis!
        Perferendis quibusdam nobis praesentium ducimus et? Repudiandae voluptate suscipit nihil ullam aperiam totam mollitia eveniet, molestias labore harum tempora ea unde, officiis amet reprehenderit pariatur qui. Ullam excepturi mollitia laborum!
        Facilis debitis possimus, sunt quae recusandae nesciunt, quibusdam similique nobis consequuntur ab asperiores maiores quaerat inventore labore nostrum voluptates modi ut doloremque voluptatem iure quasi minima expedita libero? Distinctio, quia.
        Vero quod eaque accusamus delectus aperiam eos vitae tempore, iure ipsa velit cupiditate similique, fugiat odio! Qui blanditiis vel provident? Debitis veritatis autem molestias nesciunt optio maxime omnis, eum consectetur!
        Delectus dolorem magni ipsa iure autem provident temporibus repudiandae hic voluptate dolores culpa at aut, libero sequi. Mollitia incidunt sunt aperiam, quas eos vel veritatis atque libero nobis laboriosam molestias!
        At harum modi dolorem obcaecati tenetur aperiam eum odio dolorum voluptatibus nihil error, sapiente autem ipsa eaque pariatur est, nulla ipsum. Natus, inventore quae quis maxime reiciendis facere aperiam illo.
        Voluptas officia voluptatibus dolorum, repudiandae fugit reprehenderit eligendi unde perferendis aut. Assumenda inventore maiores sequi porro. Iusto aperiam fuga eaque, corrupti, eligendi adipisci modi quae dolore veritatis dolores id facilis?
        Tempora veritatis ut commodi, nam aliquid esse repellat. Deserunt sequi expedita nisi illo! Consequuntur omnis aliquid et iusto vel ex magni amet iste, architecto blanditiis facilis rem culpa doloremque quam.
        Laborum maiores ad voluptate ex sunt harum quos, eos officiis corporis animi at. Et magni, ipsam illum porro nostrum, aliquam placeat necessitatibus laboriosam temporibus dolor dolores earum minima architecto natus.
        Odio, adipisci porro. Laborum corporis odio totam tenetur? Quod tempore nesciunt, dolor voluptatem fugiat consectetur in voluptates quo autem unde temporibus iusto harum nostrum quia atque sit deserunt! Aliquid, commodi.
        Harum repellendus magnam ex animi illo sed quas fuga itaque consequuntur voluptatibus inventore quo molestias amet, accusamus tempora quos dignissimos ipsum sit omnis vel ratione! Quam animi error amet dicta!
        Ipsam cupiditate doloremque temporibus veritatis quidem, soluta eaque maiores, et, doloribus architecto eveniet ducimus adipisci recusandae deserunt illum laboriosam. Esse voluptatibus facilis quos. Cupiditate quas excepturi rerum fugit in voluptatum.
        Magni, dolorem voluptatem voluptatum tempore eius ad soluta officia autem. Beatae molestias rerum consequuntur ut perferendis repellendus ducimus iure quibusdam alias rem. Fugiat dolores ex ad minima, quisquam nihil reiciendis.
        Architecto nam dolor nihil optio fuga ab, temporibus quisquam porro sapiente vero minima. Nulla cum reprehenderit quibusdam dolores quasi omnis, optio officia in unde ut totam, id veniam possimus quae.
        Rem quae tempore magni provident illum non libero aperiam, odio minima aspernatur assumenda officiis recusandae nostrum dolorum quo reiciendis magnam nam numquam eius voluptatibus voluptate dolor! Tempore praesentium iste odit.
        Ex quaerat nisi, expedita dolore sequi enim laudantium cupiditate molestias sunt fugiat. Quod ullam mollitia placeat quam veritatis tempore repellendus eaque veniam. Possimus odio delectus officiis, exercitationem debitis cum a?
        Natus aliquam veritatis debitis non accusantium eveniet quidem, nihil odio quaerat inventore assumenda dolorem, culpa cupiditate velit facere, sint libero amet quibusdam. Magni est aspernatur cumque ab, voluptate quod ea!</p>
    </div>
    <div class="pie">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">
        <img src="https://zdes.files.wordpress.com/2009/06/firefox3.png">

    </div>
</body>
</html>